@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  background-color: #26006e;
  margin: 0;
  padding: 0;
}
div#showpicks,
div#winner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Bangers", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  color: #fd2bf1;
  font-size: 55px;
  letter-spacing: 0.2em;
}
h6 {
  font-family: "Bangers", cursive;
  color: #2cdfba;
  font-size: 30px;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}
h5 {
  font-family: "Bangers", cursive;
  color: #3278ed;
  font-size: 35px;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}
h4 {
  font-family: "Bangers", cursive;
  color: #fd2bf1;
  font-size: 45px;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}
p {
  font-family: "Bangers", cursive;
  color: #26006e;
  font-size: 25px;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
}
