@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  background-color: #26006e;
}

.game,
nav {
  display: flex;
  /* width: 80%; */
  flex-flow: column wrap;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
}
h1 {
  font-family: "Bangers", cursive;
  color: #fd2bf1;
  font-size: 60px;
  letter-spacing: 0.2em;
}
p {
  font-family: "Bangers", cursive;
  color: #3278ed;
  font-size: 30px;
  letter-spacing: 0.2em;
}
.countdown {
  color: #2cdfba;
  font-size: 100px;
  font-weight: 900;
}
p#startbutton,
p#roundbutton {
  font-family: "Bangers", cursive;
  color: #2cdfba;
  font-size: 25px;
}

button#startgame,
button#startround,
button#nextround {
  background-color: #26006e;
  border-radius: 5px;
  border-color: #3278ed;
  border-width: 3px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  padding-right: 10px;
}
.startround {
  padding-top: 50px;
}

button.imgbutton {
  border-width: 0;
  border-color: #26006e;
  padding: 0px 0px 0px 0px;
  margin: 0;
  width: 150px;
  height: 240px;
}
img#rock,
img#paper,
img#scissor {
  width: inherit;
  height: inherit;
}
.dynamicImage {
  width: 130px;
  height: 220px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#winner {
  font-family: "Bangers", cursive;
  color: #2cdfba;
  font-size: 40px;
  letter-spacing: 0.2em;
}
#roundpick {
  width: 180px;
  height: 150px;
}
